{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/education.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'student' %}">Student</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/teacher.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'teacher' %}">Teacher</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/partner.png' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'partner' %}">Partner</a>
                    </div>
                </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/donor.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'donor' %}">Donor</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/public_one.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'public' %}">Public</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->


    <!-- End Blog  -->
{% endblock content %}


